.Epicodus {
  font-weight: bold;
}
#undertext {
  font-style: italic;
}
#myname {
  font-variant: small-caps;
  text-align: center;
}
.picborder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-width: medium;
  border-color: black;
}
